@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
/* MODIFICATION */
.modification_head {
  font-size: 12px;
  line-height: normal;
  color: #B5673F;
  font-weight: 700;
  text-align: center;
}

/* mettre la couleur des lien en B5673F
pour le sidebar   */


#barSuperieur
{
  background-color: #B5673F !important;
  font-size: 22px;
    line-height: normal;
    color: white;
    font-weight: 700;
    text-align: center;
}

#barSuperieur i 
{
  color: white;
}

/* le body */


/* les cart dans le dashbord */
.cart_inscription_administrative
 {
  background-color: #1f446e !important;
  color: #fff !important;
  border-radius: 20px !important;
}
.cart_inscription_pedagogique 
{
  background-color: #c5752f;
  color: #fff;
  border-radius: 20px !important;
}

.cart_consultation_note
{
  background-color: #307ca2 !important;
  color: #fff !important;
  border-radius: 20px !important;
}
.cart_aide
{

  background-color: #a95930 ;
  color: #fff;
  border-radius: 20px !important;
}

/* ########### n'ouble pas d'ajouter de l'ombre */
/* menue scrolable */
.menueScrolable
 {
  background-color: #ebebeb;
  color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 100vh;
}

.menueScrolable_texteInfotmation 
{
  font-size: 30px;
    -webkit-filter: drop-shadow(2px 2px 4px rgba(30, 112, 219, .342));
    filter: drop-shadow(2px 2px 4px rgba(30, 112, 219, .342));
    color: #3588b2 !important;
}

.menueScrolable-titre_sous_section
{
  font-size: 14px;
  -webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, .161));
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, .161));
  color: #b25f35 !important;
  cursor: pointer;
}
.menueScrolable-titre_section 
{
  font-size: 30px;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(30, 112, 219, .342));
  filter: drop-shadow(2px 2px 4px rgba(30, 112, 219, .342));
  color: #3588b2 !important
}

.text_bleu_claire
{
  color: #3588b2 !important
}
.user-title
{
  text-align: right
}
.text_marron
{
  color: #b25f35 !important;
}
.menuDroite-section_container
{
  min-height: 450px;
  background: #fff !important;
  border-radius: 10px;
  border: 1px solid #dee2e6 !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  padding: 1rem !important;
}

footer
 {
  background-color: #fefefe;
  border-top: 1px solid #ebebeb;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 1.25rem;
}

/* NAVE BAR */

      .header-container
      {
       display: -webkit-box;
       display: flex;
       -webkit-box-align: center;
       align-items: center;
       width: auto
     }

   .logo-container
   {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 14.75rem
    }
.logo 
{
  padding: 0 1.25rem;
  font-size: 1.75rem;
  white-space: nowrap;
  text-decoration: none
}
.button-with-ripple {
  position: relative;
  overflow: hidden;
}

.button-with-ripple::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}

.button-with-ripple:hover::after {
  width: 0;
  height: 0;
  opacity: 0;
}

.sidebar-toggle 
{
  margin-left: 1.25rem
}
 .menu-sidebar  {
   padding-top: 2.25rem
 }
@media screen and (max-width:680px) 
{
  .logo-container ,
  .logo-container
  {
    padding: .1rem !important;
    font-size: 1rem !important
  } }

  /* le style est directement incorer dans les balise a du lien du sidebar */
    .menu-icon 
    {
      color: #b25f35 !important;
      font-size: 18px !important;
      font: 500 !important;
    }

        /* Style pour les liens dans la barre latérale */
        .sidebar-nav .nav-link {
          color: #b25f35 !important;
          /* Couleur du texte */
          font-size: 18px !important;
          /* Taille de la police */
          font-weight: 500 !important;
          /* Poids de la police */
        }
    
        
       

/* style en cas d'activation d'un lien */

.estActive
{
  background-color: rgba(0, 0, 0, 0.1);
    /* Couleur de fond lorsque le lien est actif */
  position: relative;
  
  color: #6200ee !important;
  border-radius: 44px 0 0 44px;
}
.ul_menu-items_Padd-Marg 
{
  margin: 0;
  padding: 0;
}


/* NAVBAR ET BARRE DE NAVIGATION VIDEO */

.mynav {
  color: #fff;
}

.mynav li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}

.mynav li a.active {
  background: rgba(255, 255, 255, 0.2);
}

.mynav li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mynav li a i {
  width: 25px;
  text-align: center;
}

.notification-badge {
  background-color: rgba(255, 255, 255, 0.7);
  float: right;
  color: #222;
  font-size: 14px;
  padding: 0px 8px;
  border-radius: 2px;
}

/*  */

 .compacted {
   width: 3.5rem;
   border-radius: 0 0 15px 15px
 }
     .img-logo-ugb {
      max-width: 100%;
      padding-bottom: 1em;
      margin-top: -25px
    }
  .logo-ugb{
           display: none
  }

.main-container-fixed
{
  top: 0 !important;
     }


         